@model IEnumerable<SadguruCRM.Models.EmployeeDesignation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Order)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Designation)
    </td>
    <td>
        @Html.ValueFor(modelItem => item.CreatedDate, "{0:dd/MM/yyyy HH:mm}")
    </td>
    <td>
        @Html.ValueFor(modelItem => item.LastUpdatedDate, "{0:dd/MM/yyyy HH:mm}")
    </td>
    <td>
        @Html.ActionLink(" ", "Edit", new { id = item.EmployeeDesignationID }, new { @class = "fa fa-edit" }) |
        @Html.ActionLink(" ", "Details", new { id = item.EmployeeDesignationID }, new { @class = "fa fa-info" }) |
        @Html.ActionLink(" ", "Delete", new { id = item.EmployeeDesignationID }, new { @class = "fa fa-trash" })
    </td>
</tr>
}

</table>
