@model IEnumerable<SadguruCRM.Models.Premises_Area_Master>

@{
    ViewBag.Title = "Premises Areas";
}

    <h2>Premises Areas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayName("Premises Area")
        </th>
        <th>
            @Html.DisplayName("Created On")
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayName("Last Updated On")
        </th>
        <th>
            @Html.DisplayName("Last Updated By")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Order)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Premises_Area)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserLogin.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastUpdatedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserLogin1.UserName)
    </td>
    <td>
        @Html.ActionLink(" ", "Edit", new { id = item.Premises_Area_ID }, new { @class = "fa fa-edit" }) |
        @Html.ActionLink(" ", "Details", new { id = item.Premises_Area_ID }, new { @class = "fa fa-info" }) |
        @Html.ActionLink(" ", "Delete", new { id = item.Premises_Area_ID }, new { @class = "fa fa-trash" })
    </td>
</tr>
}

</table>
