@model SadguruCRM.Models.Products_Master

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Product", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.Label("Product Category", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Category_Master.Product_Category)
        </dd>
        <dt>
            @Html.Label("Product Sub-Category", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Category_Master1.Product_Category)
        </dd>
        <dt>
            @Html.Label("Price", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.Label("Vendor", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
        <dt>
            @Html.Label("UOM", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOM)
        </dd>
        <dt>
            @Html.Label("TAX Applicable", new { @class = "control-label" })
        </dt>

        <dd>
            @if (Model.TaxApplicable == null || (bool)Model.TaxApplicable == false)
            {
                <text>NO</text>
            }
            else
            {
                <text>YES</text>
            }
        </dd>
        <dt>
            @Html.Label("TAX", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxInPercentage)
        </dd>
        <dt>
            @Html.Label("Description", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.Label("Created By", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.UserName)
        </dd>
        <dt>
            @Html.Label("Created On", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.Label("Last Updated By", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin1.UserName)
        </dd>
        <dt>
            @Html.Label("Last Updated On", new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @type = "button", @class = "btn btn-outline-secondary" })
</p>
