@model IEnumerable<SadguruCRM.Models.PaymentTerm>

@{
    ViewBag.Title = "Payment Terms";
}

    <h2>Payment Terms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Order")
            </th>
            <th>
                @Html.DisplayName("Payment Term")
            </th>
            <th>
                @Html.DisplayName("Created On")
            </th>
            <th>
                @Html.DisplayName("Last Updated On")
            </th>
            <th>
                @Html.DisplayName("Created By")
            </th>
            <th>
                @Html.DisplayName("Last Updated By")
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayName("Order")
            </th>
            <th>
                @Html.DisplayName("Payment Term")
            </th>
            <th>
                @Html.DisplayName("Created On")
            </th>
            <th>
                @Html.DisplayName("Last Updated On")
            </th>
            <th>
                @Html.DisplayName("Created By")
            </th>
            <th>
                @Html.DisplayName("Last Updated By")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentTermName)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.CreatedDate, "{0:dd/MM/yyyy HH:mm}")
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.LastUpdatedDate, "{0:dd/MM/yyyy HH:mm}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogin.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogin1.UserName)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.PaymentTermID }, new { @class = "fa fa-edit" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.PaymentTermID }, new { @class = "fa fa-info" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.PaymentTermID }, new { @class = "fa fa-trash" })
                </td>
            </tr>
        }

    </tbody>

</table>
<script>
    var table;
    $(document).ready(function () {

        table = $('.table').DataTable({
            fixedHeader: true,
            order: [[0, 'asc']]
        });
        var colindex = 1;
        $('.table thead tr:first th').each(function () {
            if (colindex < 7) {
                //var title = $('#leads thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="" class="column_search"/>');
            } else if (colindex == 7) {
                $(this).html('<input type="button" value="RESET" class="btn btn-sm btn-outline-secondary" id="reset" onclick="clearSearchBoxes();"/>');
            }
            colindex++;
        });
        //table.columns().every(function () {
        //    var column = this;

        //    $('input', this.header()).on('keyup change', function () {
        //        column
        //            .search(this.value)
        //            .draw();
        //    });
        //});
        $('.table thead tr:first th').on('keyup', ".column_search", function () {
            table
                .column($(this).parent().index())
                .search(this.value)
                .draw();
        });
        $(".dataTables_filter").css("display", "none");


    });
    //table.columns( '.Status' ).search( 'Important' ).draw();
    function clearSearchBoxes() {
        var searchBoxes = $(".column_search");
        for (var i = 0; i < searchBoxes.length; i++) {
            $(searchBoxes[i]).val("");
        }
        table.search('').columns().search('').draw();
    };
</script>