@model SadguruCRM.Models.Location

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Location</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.LocationID)
    @Html.HiddenFor(model => model.CreatedDate)

    <div class="form-group">
        @Html.Label("Location", htmlAttributes: new { @class = "control-label required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Branch", "Branch", htmlAttributes: new { @class = "control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BranchID, null, "-- SELECT --", htmlAttributes: new { @class = "form-control selectpicker dropup", @required = "required", @data_live_search = "true" })
            @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-secondary"  style="float:right;"/>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @type = "button", @class = "btn btn-outline-secondary" })
</div>

@*@section Scripts {
    
}*@
