@model SadguruCRM.Models.Bank_Master

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bank_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin1.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
