@model IEnumerable<SadguruCRM.Models.Bank_Master>

@{
    ViewBag.Title = "Banks";
}
<div class="row">
    <div class="col">
        <h2>Banks</h2>
    </div>
    <div class="pull-right">
        @Html.ActionLink("Add Bank", null, new { @type = "button", @class = "btn btn-outline-secondary" })
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.BankID }, new { @class = "fa fa-edit" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.BankID }, new { @class = "fa fa-info" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.BankID }, new { @class = "fa fa-trash" })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    var table;
    $(document).ready(function () {

        table = $('.table').DataTable({
            fixedHeader: true,
            order: [[0, 'desc']],
            "pageLength": 25
        });
        var colindex = 1;
        $('.table thead tr:first th').each(function () {
            if (colindex < 3) {
                //var title = $('#leads thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="" class="column_search"/>');
            } else if (colindex == 3) {
                $(this).html('<input type="button" value="RESET" class="btn btn-sm btn-outline-secondary" id="reset" onclick="clearSearchBoxes();"/>');
            }
            colindex++;
        });
        //table.columns().every(function () {
        //    var column = this;

        //    $('input', this.header()).on('keyup change', function () {
        //        column
        //            .search(this.value)
        //            .draw();
        //    });
        //});
        $('.table thead tr:first th').on('keyup', ".column_search", function () {
            table
                .column($(this).parent().index())
                .search(this.value)
                .draw();
        });
        $(".dataTables_filter").css("display", "none");


    });
    //table.columns( '.Status' ).search( 'Important' ).draw();
    function clearSearchBoxes() {
        var searchBoxes = $(".column_search");
        for (var i = 0; i < searchBoxes.length; i++) {
            $(searchBoxes[i]).val("");
        }
        table.search('').columns().search('').draw();
    };

</script>